# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
./lna_photo/idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
./lna_photo/dart_tool/
./lna_photo/flutter-plugins
./lna_photo/flutter-plugins-dependencies
./lna_photo/packages
./lna_photo/pub-cache/
./lna_photo/pub/
./lna_photo/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
./lna_photo/android/app/debug
./lna_photo/android/app/profile
./lna_photo/android/app/release

.vscode